@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');


/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	color: #56593D;
	background-color: #E5E5E5;
}

/* Header start*/

/* Logo and barmenu start */
.wrapper {
	max-width: 1330px;
	margin: 0 auto;
}

.header {
	width: 100%;
}

.header_wrapper_navbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 56px 0 40px 0;
}

.header_wrapper_nav{
	width: 550px;
	height: 40px;
}

.header_wrapper_nav_list {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.header_wrapper_nav_list_item{
	width: 105px;
	height: 60px;
	margin-right: 40px;
	text-transform: uppercase;
	padding-top: 15px;
}

.header_wrapper_nav_list_item_link{
	font-size: 16px;
	line-height: 25px;
	line-height: 135%;
	color: #56593D;
}

.header_wrapper_nav_list_item_link:hover{
	color: #9bad05;
}

.header_wrapper_nav_list_item_pic{
	margin-top: 5px;
}

/* Logo start */
.header_wrapper_logo_link{
	margin: 0 420px 0 110px;
}
/* Logo end */

/* Barmenu start */
.header_wrapper_navmenu{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header_wrapper_navmenu_link{
	padding-top: 10px;
	margin-right: 30px;
}
/* Barmenu end */

/* Logo and navmenu end*/

/* Header end*/


/* Main start */
/* Collections start */
.collections_wrapper_title{
	width: 100%;
	height: 700px;
	background: url('../images/jpg/intro.jpg') no-repeat;
}

.collections_text{
	padding-top: 460px;
	margin:  0 64px 10px 1085px;
	font-size: 18px;
	line-height: 21.6px;
	letter-spacing: 1.8px;
}

.collections_title{
	margin: 0 64px 25px 825px;
	font-size: 45px;
	line-height: 60.5px;
}

.collections_btn{
	width: 154px;
	height: 56px;
	margin: 0 64px 65px 1110px;
	background-color: #56593D;
	color: #ffffff;
}

.collections_btn:hover{
	background-color: #9da171;
}

/* description start */
.collections_wrapper_description{
	margin-top: 90px;
	width: 100%;
	height: 300px;
	text-align: center;
}

.collections_wrapper_text{
	font-size: 57px;
	line-height: 81px;
	margin-bottom: 26px;
}

.collections_action--shop{
	margin-right: 70px;
}

.collections_action--stories, .collections_action--shop{
	border: none;
	background-color:#E5E5E5;
}

.collections_action_movement{
	font-size: 16px;
	line-height: 25.6px;
	letter-spacing: 1.6px;
}

.collections_action_label{
	margin-top: -17px;
}
/* description end */

/* Maple_board start */
.maple_board{
	margin-top: 90px;
}

.maple_board_title{
	padding-top: 65px;
	margin-bottom: 80px;
	font-size: 24px;
	line-height: 32.4px;
	text-align: center;
}

.maple_board_card{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.maple_board_card_blok{
	margin-right: 32px;
	text-align: center;
}

.maple_board_card_blok:first-child{
	margin-left: 32px;
}

.maple_board_card_link{
	margin-top: 16px;
	margin-bottom: 7px;
	font-size: 16px;
	line-height: 21.6px;
	color: #56593D;
}

.maple_board_card_price{
	font-size: 16px;
	line-height: 21.6px;
	color: #717353;
}

/* Maple_board end */


/* Essentials start */
.essentials_wrapper{
	margin-top: 90px;
	width: 100%;
	height: 700px;
	background: url('../images/jpg/essentials.jpg') no-repeat;
}

.essentials_title{
	padding-top: 62px;
	font-size: 17px;
	line-height: 21.6px;
	letter-spacing: 1.8px;
	text-align: center;
}

.essentials_text{
	width: 1090px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	font-size: 50px;
	line-height: 60.48px;
	text-align: center;
}
/* Essentials end */


/* Design Story start */
.design_story_content{
	margin-top: 90px;
	display: flex;
	justify-content: space-between;
	align-items: top;
}

.design_story_content_description{
	width: 522px;
	height: 395px;
}

.design_story_title{
	width: 100%;
	height: 40px;
	margin: 63px 150px;
	font-size: 29px;
	line-height: 38.88px;
	margin-bottom: 66px;
}

.design_story__text{
	width: 347px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Jost', sans-serif;
	font-size: 20px;
	line-height: 32.4px;
}
/* Design Story end */


/* Your Table Your Time start */
.your_time_content{
	height: 885px;
	margin-top: 90px;
	display: flex;
	justify-content: space-between;
	align-items: top;
}

.design_story_content_description{
	width: 522px;
	height: 395px;
}
.your_time_title{
	width: 100%;
	height: 40px;
	margin: 63px 122px;
	font-size: 29px;
	line-height: 38.88px;
	margin-bottom: 66px;
}

.your_time_text{
	width: 347px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Jost', sans-serif;
	font-size: 20px;
	line-height: 32.4px;
}
/* Your Table Your Time end */

/* Sign up start */
.signup{
	margin-top: 105px;
	width: 100%;
	height: 280px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.signup_title{
	margin-top: 30px;
	font-size: 28px;
	line-height: 38.88px;
	margin-bottom: 16px;
}

.signup_text{
	font-size: 17px;
	line-height: 28.8px;
	margin-bottom: 32px;
}

.signup_btn{
	width: 144px;
	height: 22px;
	background-color: #56593D;
	color: #ffffff;
	text-transform: uppercase;
}
/* Sign up end */

/* Kinn Moments start */
.moments{
	width: 100%;
	height: 520px;
}

.moments_title{
	padding-top: 64px;
	text-align: center;
	font-size: 25px;
	line-height: 32.4px;
	margin-bottom: 32px;
}

/* Main end */


/* Footer start */
.footer{
	max-width: 100%;
	height: 382px;
	background-color: #717353;
	display: flex;
	padding-top: 65px;
	color: #ffffff;
}

.footer_copyright{
 margin-left: 70px;
 margin-bottom: 15px;
}

.label{
	width: 15px;
	margin-bottom: 17px;
	color: #ffffff;
}

.mail{
	font-size: 16px;
	line-height: 25.2px;
}

footer a{
	color: #ffffff;
}

.title{
	font-size: 20px;
	line-height: 18.9px;
	margin-bottom: 30px;
}

.footer_explore{
	margin-left: 250px;
	display: flex;
	flex-direction: column;
}

.footer_help{
	margin-left: 200px;
	display: flex;
	flex-direction: column;
}

footer>div>a{
	margin-bottom: 20px;
}

.footer_explore_label{
	padding-top: 5px;
	padding-left: 5px;
}

.footer_soc-network{
	width: 122px;
	height: 22px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-left: 400px;
}
.footer_soc-network_pic{
	margin-right: 20px;
}
/* Footer end */